{% extends 'todoapp/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Мой менеджер задач</h1>
    <h3 class="test_style">Управляй своим временем!</h3>
    <form class="ui form" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <button class="ui teal basic button" type="submit">Добавить новую задачу</button>
    </form>

{% for todo in todo_list %}
<div class="ui segment">
    <p class="ui big header">№{{ todo.id }} {{ todo.title }}: {{ todo.text }}</p>

    <h4 class="ui header">Время создания: {{ todo.created_at }}</h4>
    <h4 class="ui header">Дедлайн: {{ todo.deadline }}</h4>

    {% if todo.is_complete == False %}
    <span class="ui gray label">Не завершено</span>
    <a class="ui primary basic button" href="{% url 'update' todo_id=todo.id %}">Завершить</a>
    {% else %}
    <span class="ui green label">Завершено</span>
    <a class="ui blue button" href="{% url 'update' todo_id=todo.id %}">Открыть</a>
    {% endif %}
    <a class="ui negative basic button" href="{% url 'delete' todo_id=todo.id %}">Удалить</a>
</div>
{% endfor %}
</div>

{% endblock content %}